In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import glob

In [2]:
#Read in all CSVs to a dataframe using glob
#  This code was inspired by the stackoverflow thread:    
#      https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

apd_raw_df = pd.concat(map(pd.read_csv, glob.glob('Data_files/APD_data_2018_to_2020/*.csv')))

In [3]:
#review raw data
apd_raw_df

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long,Unnamed: 9,Unnamed: 10
0,ROBBERY-PEDESTRIAN,180312381,01/31/2018,1695 MARIETTA BLVD NW,203,Hills Park,D,33.8009,-84.4345,NaN,NaN
1,ROBBERY-PEDESTRIAN,180310247,01/31/2018,2350 CHESHIRE BRIDGE RD NE,212,Lindridge/Martin Manor,F,33.8195,-84.352,NaN,NaN
2,ROBBERY-PEDESTRIAN,180310249,01/31/2018,1305 OAKLAND DR SW @OAKLAND CITY PARK,403,Oakland City,S,33.719,-84.4289,NaN,NaN
3,ROBBERY-PEDESTRIAN,180312606,01/31/2018,520 FLAT SHOALS AVE SE,612,East Atlanta,W,33.7395,-84.3446,NaN,NaN
4,AGG ASSAULT,180310884,01/31/2018,515 FULTON ST SW,303,Mechanicsville,V,33.741,-84.4045,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1652,AUTO THEFT,201530392,6/1/2020,632 ELOISE ST SE,605,Grant Park,W,33.73624,-84.36261,NaN,NaN
1653,LARCENY,201530422,6/1/2020,2135 BRIAR GLEN LN SW,412,Briar Glen,P,33.69523,-84.5026,NaN,NaN
1654,LARCENY,201530516,6/1/2020,145 EDGEWOOD AVE SE,510,Downtown,M,33.75421,-84.38294,NaN,NaN
1655,AUTO THEFT,201530525,6/1/2020,433 HIGHLAND AVE NE,604,Old Fourth Ward,M,33.76101,-84.37345,NaN,NaN
1656,BURGLARY,201530609,6/1/2020,78 BROAD ST NW,508,Downtown,M,33.7561,-84.38902,NaN,NaN

In [4]:
#create new dataframe with desired columns
apd_df = apd_raw_df[['UC2_Literal', 'Report Number', 'Report Date', 'Location', 'Beat', 'Neigborhood', 'NPU', 'Lat', 'Long']].copy()
apd_df

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long
0,ROBBERY-PEDESTRIAN,180312381,01/31/2018,1695 MARIETTA BLVD NW,203,Hills Park,D,33.8009,-84.4345
1,ROBBERY-PEDESTRIAN,180310247,01/31/2018,2350 CHESHIRE BRIDGE RD NE,212,Lindridge/Martin Manor,F,33.8195,-84.352
2,ROBBERY-PEDESTRIAN,180310249,01/31/2018,1305 OAKLAND DR SW @OAKLAND CITY PARK,403,Oakland City,S,33.719,-84.4289
3,ROBBERY-PEDESTRIAN,180312606,01/31/2018,520 FLAT SHOALS AVE SE,612,East Atlanta,W,33.7395,-84.3446
4,AGG ASSAULT,180310884,01/31/2018,515 FULTON ST SW,303,Mechanicsville,V,33.741,-84.4045
...,...,...,...,...,...,...,...,...,...
1652,AUTO THEFT,201530392,6/1/2020,632 ELOISE ST SE,605,Grant Park,W,33.73624,-84.36261
1653,LARCENY,201530422,6/1/2020,2135 BRIAR GLEN LN SW,412,Briar Glen,P,33.69523,-84.5026
1654,LARCENY,201530516,6/1/2020,145 EDGEWOOD AVE SE,510,Downtown,M,33.75421,-84.38294
1655,AUTO THEFT,201530525,6/1/2020,433 HIGHLAND AVE NE,604,Old Fourth Ward,M,33.76101,-84.37345
1656,BURGLARY,201530609,6/1/2020,78 BROAD ST NW,508,Downtown,M,33.7561,-84.38902

In [5]:
#rename the UC2_Literal column
apd_df = apd_df.rename(columns={'UC2_Literal': 'Crime Type', 'Neigborhood': 'Neighborhood'})
apd_df

,Crime Type,Report Number,Report Date,Location,Beat,Neighborhood,NPU,Lat,Long
0,ROBBERY-PEDESTRIAN,180312381,01/31/2018,1695 MARIETTA BLVD NW,203,Hills Park,D,33.8009,-84.4345
1,ROBBERY-PEDESTRIAN,180310247,01/31/2018,2350 CHESHIRE BRIDGE RD NE,212,Lindridge/Martin Manor,F,33.8195,-84.352
2,ROBBERY-PEDESTRIAN,180310249,01/31/2018,1305 OAKLAND DR SW @OAKLAND CITY PARK,403,Oakland City,S,33.719,-84.4289
3,ROBBERY-PEDESTRIAN,180312606,01/31/2018,520 FLAT SHOALS AVE SE,612,East Atlanta,W,33.7395,-84.3446
4,AGG ASSAULT,180310884,01/31/2018,515 FULTON ST SW,303,Mechanicsville,V,33.741,-84.4045
...,...,...,...,...,...,...,...,...,...
1652,AUTO THEFT,201530392,6/1/2020,632 ELOISE ST SE,605,Grant Park,W,33.73624,-84.36261
1653,LARCENY,201530422,6/1/2020,2135 BRIAR GLEN LN SW,412,Briar Glen,P,33.69523,-84.5026
1654,LARCENY,201530516,6/1/2020,145 EDGEWOOD AVE SE,510,Downtown,M,33.75421,-84.38294
1655,AUTO THEFT,201530525,6/1/2020,433 HIGHLAND AVE NE,604,Old Fourth Ward,M,33.76101,-84.37345
1656,BURGLARY,201530609,6/1/2020,78 BROAD ST NW,508,Downtown,M,33.7561,-84.38902

In [6]:
#save merged data to csv
apd_df.to_csv('merged_2018_to_2020.csv',index=False)

In [7]:
group = apd_df.groupby(['Crime Type'])

In [8]:
group.count()

,Report Number,Report Date,Location,Beat,Neighborhood,NPU,Lat,Long
Crime Type,,,,,,,,
AGG ASSAULT,4828,4828,4828,4824,4601,4813,4828,4828
AUTO THEFT,7454,7454,7454,7445,7115,7411,7454,7454
BURGLARY,1178,1178,1178,1177,1137,1172,1178,1178
BURGLARY-NONRES,1571,1571,1571,1570,1502,1563,1571,1571
BURGLARY-RESIDENCE,4291,4291,4291,4286,4102,4290,4291,4291
HOMICIDE,251,251,251,250,228,251,251,251
LARCENY,5827,5827,5827,5819,5540,5737,5827,5827
LARCENY-FROM VEHICLE,19861,19861,19861,19832,19089,19814,19861,19861
LARCENY-NON VEHICLE,12842,12842,12842,12817,12259,12581,12842,12842
MANSLAUGHTER,6,6,6,6,6,6,6,6
ROBBERY,385,385,385,385,370,383,385,385
ROBBERY-COMMERCIAL,309,309,309,309,303,307,309,309
ROBBERY-PEDESTRIAN,1518,1518,1518,1518,1445,1514,1518,1518
ROBBERY-RESIDENCE,238,238,238,237,227,238,238,238