In [17]:
import pandas as pd
from sqlalchemy import create_engine

In [18]:
passw = ""

In [19]:
engine = create_engine(f'postgresql://postgres:{passw}@localhost:5432/apd_crime_db')

In [20]:
engine.table_names()

['apd_crime_data', 'us_police_shooting']

In [ ]:
#Read merged CSVs to a dataframe using glob
#  This code was inspired by the stackoverflow thread:    
#      https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

apd_raw_df = pd.concat(map(pd.read_csv, glob.glob('Data_files/APD_data_2018_to_2020/*.csv')))

In [37]:
merged_file_1 = "Data_Files/2015-2017-APD.csv"
merged_1_df = pd.read_csv(merged_file_1)
merged_1_df = merged_1_df.rename(columns={'Crime Type': 'crime_type', 'Report Number': 'report_number', 'Report Date': 'report_date',\
                                         'Location': 'location', 'Beat': 'beat', 'NPU': 'npu', 'Lat': 'lat','Long': 'long','Neighborhood':'neighborhood'})
merged_1_df.head()

,crime_type,report_number,report_date,location,beat,neighborhood,npu,lat,long
0,HOMICIDE,150311273,01/31/2015,1375 NORTHSIDE DR NW,207.0,Loring Heights,E,33.79215,-84.40774
1,ROBBERY-PEDESTRIAN,150312601,01/31/2015,2431 SPRINGDALE RD SW,309.0,Perkerson,X,33.68827,-84.41475
2,ROBBERY-PEDESTRIAN,150312591,01/31/2015,2902 OLD JONESBORO RD SW,311.0,Hammond Park,X,33.67550,-84.40760
3,ROBBERY-PEDESTRIAN,150311766,01/31/2015,85 JOHN WESLEY DOBBS AVE NE,510.0,Downtown,M,33.75684,-84.38475
4,ROBBERY-PEDESTRIAN,150312400,01/31/2015,2594 BURTON RD NW,111.0,Westhaven,I,33.75581,-84.47292

In [36]:
merged_file_2 = "Data_Files/merged_2018_to_2020.csv"
merged_2_df = pd.read_csv(merged_file_2)
merged_2_df = merged_2_df.rename(columns={'Crime Type': 'crime_type', 'Report Number': 'report_number', 'Report Date': 'report_date',\
                                         'Location': 'location', 'Beat': 'beat', 'NPU': 'npu', 'Lat': 'lat','Long': 'long', 'Neighborhood':'neighborhood'})
merged_2_df.head()

,crime_type,report_number,report_date,location,beat,neighborhood,npu,lat,long
0,ROBBERY-PEDESTRIAN,180312381,1/31/2018,1695 MARIETTA BLVD NW,203.0,Hills Park,D,33.80092,-84.43451
1,ROBBERY-PEDESTRIAN,180310247,1/31/2018,2350 CHESHIRE BRIDGE RD NE,212.0,Lindridge/Martin Manor,F,33.81950,-84.35199
2,ROBBERY-PEDESTRIAN,180310249,1/31/2018,1305 OAKLAND DR SW @OAKLAND CITY PARK,403.0,Oakland City,S,33.71896,-84.42892
3,ROBBERY-PEDESTRIAN,180312606,1/31/2018,520 FLAT SHOALS AVE SE,612.0,East Atlanta,W,33.73951,-84.34459
4,AGG ASSAULT,180310884,1/31/2018,515 FULTON ST SW,303.0,Mechanicsville,V,33.74100,-84.40447

In [26]:
shooting_file = "Data_Files/police_shootings_us.csv"
shooting_df = pd.read_csv(shooting_file)

shooting_df = shooting_df.rename(columns={'body_camera': 'body_cam'})
shooting_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_cam,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns

In [28]:
shooting_df.to_sql(name='us_police_shooting', con=engine, if_exists='append', index=False)

In [38]:
merged_1_df.to_sql(name='apd_crime_data', con=engine, if_exists='append', index=False)

In [40]:
merged_2_df.to_sql(name='apd_crime_data', con=engine, if_exists='append', index=False)